@font-face {
    font-family: 'Vazir';
    src: url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
         url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2-variations'),
         url('fonts/Vazirmatn-Thin.woff2')  format('woff2'),
         url('fonts/Vazirmatn-SemiBold.woff2')  format('woff2'),
         url('fonts/Vazirmatn-Regular.woff2')  format('woff2'),
         url('fonts/Vazirmatn-Medium.woff2')  format('woff2'),
         url('fonts/Vazirmatn-Light.woff2')  format('woff2'),
         url('fonts/Vazirmatn-ExtraLight.woff2')  format('woff2'),
         url('fonts/Vazirmatn-ExtraBold.woff2')  format('woff2'),
         url('fonts/Vazirmatn-Bold.woff2')  format('woff2'),
         url('fonts/Vazirmatn-Black.woff2')   format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body {
    min-height: 100vh;
    background-color: #F9A825;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 0;
}

.menu-box {
    width: 31%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.menu-top,
.menu-mid,
.menu-bottom {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

.menu-top {
    height: 19%;
    border-radius: 32px 32px 0 0;
}

.menu-mid {
    height: 70%;
}

.menu-mid .items {
    margin-top: 8px;
}

.menu-mid .items p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bottom {
    height: 9%;
    border-radius: 0 0 32px 32px;
}

.menu-bottom a {
    color: #000;
}

@media screen and (max-width: 992px) {
    .main-container {
        width: 650px;
    }
    
    .menu-box h1 {
        font-size: 22px;
    }

    .menu-box p {
        font-size: 14px;
    }

    .menu-box h2 {
        font-size: 20px;
    }
    
    .menu-top,
    .menu-mid,
    .menu-bottom {
        padding: 8px;
    }
    
    .menu-mid svg {
        width: 44px;
        height: 44px;
    }
    
    .menu-mid .items {
        margin-top: 4px;
    }
      
    .menu-bottom a {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 100%;
        flex-direction: column;
        gap: 36px;
    }
    
    .menu-box {
        width: 280px;
    }
}

@media screen and (max-width: 480px) {
    .main-container {
        gap: 28px;
    }
    
    .menu-box {
        width: 240px;
    }
}